<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sky_Fitness.Properties.Settings.Sky_FitnessDBConnectionString"
            connectionString="Data Source=ABELCONSUEGRA;Initial Catalog=Sky_FitnessDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sky_Fitness.Properties.Settings.Sky_FitnessDBConnectionString1"
            connectionString="Data Source=LAPTOP-H5OOPDVV\SQLEXPRESS;Initial Catalog=Sky_FitnessDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>